<!DOCTYPE html>
<html lang="en" ng-app='poPuti'>
  <head>
    <meta charset="utf-8">
    <title>Math learning</title>
    <link rel="stylesheet" href="../public/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../public/stylesheets/styles.css">
    
    <script src="../public/bower_components/jquery/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>    
  </head>
  <body>
    <div>Hello from view!</div>
    <div class="view-container">
      <div ng-view class="view-frame"></div>
    </div>
  </body>
</html>