<!DOCTYPE html>
<html lang="en" ng-app='math'>
  <head>
    <meta charset="utf-8">
    <title>Math learning</title>
    <link rel="stylesheet" href="public/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="public/stylesheets/styles.css">
    
    <script src="public/bower_components/jquery/dist/jquery.js"></script>
    <script src="public/bower_components/angular/angular.js"></script>
    <script src="public/bower_components/angular-route/angular-route.js"></script>

    <script src="public/scripts/app.js"></script>

    <script src="public/scripts/routes.js"></script>
    
    <script src="public/scripts/directives/index.js"></script>
    
    <script src="public/scripts/controllers/index.js"></script>
    <script src="public/scripts/controllers/mainCtrl.js"></script>


    <base href="/">
  </head>
  <body>
    <div class="view-container">
      <div ng-view class="view-frame"></div>
    </div>
  </body>
</html>