img.b_img {
	max-width: 800px;
	max-height: 600px;
}

.div-center {
	display: table;
	margin-left: auto;
	margin-right: auto;
}

.minimize-div {
	display: inline-block;
}

img.num_img {
	max-width:150px; 
	max-height:200px;
	margin-left: 0;
	margin-right: 0;
	display: inline;
	padding-left: 0;
	padding-right: 0;
}

img.btn_img {
	max-width: 68px;
	max-height:68px;
	margin: 0 10px;
}

.footer {
	position: fixed; 
	bottom: 0; 
}

.bnt-img-holder {
	max-width:70px; 
	max-height:70px;
	width:70px; 
	height:70px;
	margin: 0;
	padding: 0;
	background: #a9e4f7; /* Old browsers */
background: -moz-linear-gradient(top,  #a9e4f7 0%, #0fb4e7 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a9e4f7), color-stop(100%,#0fb4e7)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #a9e4f7 0%,#0fb4e7 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #a9e4f7 0%,#0fb4e7 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #a9e4f7 0%,#0fb4e7 100%); /* IE10+ */
background: linear-gradient(to bottom,  #a9e4f7 0%,#0fb4e7 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9e4f7', endColorstr='#0fb4e7',GradientType=0 ); /* IE6-9 */

}

.positive {
	color: green;
}

.positive:after {
	content: "Правильно!";
}

.negative {
	color: red;
}

.negative:after {
	content: "Неправильно!";
}

/* Small devices (mobile, 480px and up) */
@media (min-width: 480px) { 
img.num_img {
	max-width:40px; 	
	max-height:61px;
	margin-left: 0;
	margin-right: 0;
	display: inline;
	padding-left: 0;
	padding-right: 0;
}
 }

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
img.num_img {
	max-width:65px; 	
	max-height:90px;
	margin-left: 0;
	margin-right: 0;
	display: inline;
	padding-left: 0;
	padding-right: 0;
}
 }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
	img.num_img {
		max-width:80px; 
		max-height:110px;
		margin-left: 0;
		margin-right: 0;
		display: inline;
		padding-left: 0;
		padding-right: 0;
	} 
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
	img.num_img {
		max-width:100px; 
		max-height:135px;
		margin-left: 0;
		margin-right: 0;
		display: inline;
		padding-left: 0;
		padding-right: 0;
	} 
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1660px) { 
	img.num_img {
		max-width:150px; 
		max-height:200px;
		margin-left: 0;
		margin-right: 0;
		display: inline;
		padding-left: 0;
		padding-right: 0;
	} 
}